
	<footer class="footer footer--inverce">
		<div class="container">
			<div class="footer__top">
				<div class="row">
					<div class="col-md-4">
						<a href="#" class="footer__logo">
						</a>
					</div>
					<div class="col-md-3">
						<ul class="footer__list">
							<li class="footer__item">
								<a href="index.html" class="footer__link">Главная     </a>
							</li>
							<li class="footer__item">
								<a href="about.html" class="footer__link">О нас  </a>
							</li>
							<li class="footer__item">
								<a href="shipping.html" class="footer__link">Доставка и оплата </a>
							</li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer__list">
							<li class="footer__item">
								<a href="contacts.html" class="footer__link">Контакты   </a>
							</li>
							<li class="footer__item">
								<a href="partnership.html" class="footer__link">Оптовикам   </a>
							</li>
						</ul>
					</div>
					<div class="col-md-2">
						<ul class="footer__list">
							<li class="footer__item">
								<a href="#" class="footer__link">Женское</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Мужское</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Детское</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__bottom text-center">
				<div class="footer__year">&#169;2015</div>
			</div>
		</div>
	</footer>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="js/main.js"></script>
</body>

</html>

