    <div class="section section--footer text-center">
        <div class="container">
            <!-- footer -->
            <div class="footer">
                <span class="footer__copyright">© Copyright 2013 <span class="footer__copyright footer__copyright--brand">Smak</span>. All Rights Reserved.</span>
                <ul class="social-list social-list--mg-bot">
                    <li class="social-list__item"><a href="#" class="social-list__link"><span class="social-list__icon icon-facebook "></span></a></li>
                    <li class="social-list__item"><a href="#" class="social-list__link"><span class="social-list__icon icon-dribble "></span></a></li>
                    <li class="social-list__item"><a href="#" class="social-list__link"><span class="social-list__icon icon-twitter"></span></a></li>
                    <li class="social-list__item"><a href="#" class="social-list__link"><span class="social-list__icon icon-google"></span></a></li>
                </ul>
                <div class="anchor">
                    <a href="#" class="anchor__link anchor-top"><span class="anchor__icon icon-arrow-up"></span></a>
                </div>
            </div>
        </div>
    </div>