<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Obuvachka</title>
	<link rel="stylesheet" href="../../css/all.css">
</head>
<body>
<div class="wrapper">
<!-- ПОЯВИЛСЯ ГОРИЗОНТАЛЬНЫЙ СКРОЛ, СКРЫЛ ВРАПЕРОМ. НУЖНО ВЫЯСНИТЬ, ОТКУДА ОН ПОЯВИЛСЯ. -->
	<header class="header">
			<div class="header__top">
				<div class="row">
					<div class="col-s-12">
						<div class="container">
								<ul class="header__top-list pull-left">
									<li class="header__item">
										<div class="ico__phone">
											ICO
										</div>
									</li>
									<li class="header__item">
										<div class="header__phone">
											+38050876-67-76 
										</div>
									</li>
									<li class="header__item">
										<div class="header__phone">
											+38063332-32-32
										</div>
									</li>
									<li class="header__item">
										<a href="#" class="btn btn--clean">
											Заказать звонок 
										</a>
									</li>
								</ul>
								<ul class="header__list pull-right">
									<li class="header__item">
										<a href="#" class="header__size-grid">
											Таблица размеров
										</a>
									</li>
									<li class="header__item">
										<a href="#" class="ico__wish-list">
											<i class="icon-heart-k"></i>
										</a>
									</li>
									<li class="header__item">
										<a href="#" class="ico__cart">
											<i class="icon-basket-loaded"></i>
										</a>
									</li>
								</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="header__bottom">
				<div class="row">
					<div class="container">
						<div class="col-s-12">
							<ul class="header__list text-center">
								<li class="header__item">
									<a href="#" class="header__link">Главная </a>
								</li>
								<li class="header__item">
									<a href="#" class="header__link">О нас </a>
								</li>
								<li class="header__item">
									<a href="#" class="header__link">Оптовикам   </a>
								</li>
								<li class="header__item">
									<a href="#" class="header__logo">
										<img src="../images/logo-black.png" alt="OBUVACHKA">
									</a>
								</li>
								<li class="header__item">
									<a href="#" class="header__link">Контакты </a>
								</li>
								<li class="header__item">
									<a href="#" class="header__link">Доставка и оплата</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		<div class="header__nav">
			<div class="row">
				<div class="col-s-12">
					<div class="container">
						<ul class="header__nav-list pull-left">
							<li class="header__nav-item">
								<a href="#" class="header__nav-link">Женщинам  </a>
							</li>
							<li class="header__nav-item">
								<a href="#" class="header__nav-link">Мужчинам </a>
							</li>
							<li class="header__nav-item">
								<a href="#" class="header__nav-link">Детям</a>
							</li>
							<li class="header__nav-item">
								<a href="#" class="header__nav-link">Акции</a>
							</li>
						</ul>
						<form action="#" class="search-box pull-right">
							<div class="form-control">
								<input type="search" class="header__search">
								<button type="submit" class="header__submit" value="go">
									<i class="icon-location"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
	<script src="js/main.js"></script>
</body>

</html>


