@font-face {
    font-family: 'Avantgarde Gothic';
    src: url('../fonts/avantgardegothicc-book-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Avantgarde Gothic';
    src: url('../fonts/avantgardegothicc-oblique-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-oblique-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Avantgarde Gothic';
    src: url('../fonts/avantgardegothicc-demi-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-demi-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Avantgarde Gothic';
    src: url('../fonts/avantgardegothicc-dmoblique-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-dmoblique-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Tatiana';
    src: url('../fonts/tatianac-webfont.woff2') format('woff2'),
         url('../fonts/tatianac-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
$icon-delivery:      "\e902";
$icon-hanger:        "\e906";
$icon-medal:         "\e90a";
$icon-offer-bill:    "\e90e";
$icon-pay-by-phone:  "\e912";
$icon-pay-with-card: "\e916";
$icon-sale:          "\e91a";
$icon-ship-box:      "\e91e";
$icon-ship-box2:     "\e922";
$icon-shop:          "\e926";
$icon-shopping-bag:  "\e92a";
$icon-shopping-cart: "\e92e";
$icon-view:          "\e932";
$icon-wallet:        "\e936";

@font-face {
    font-family: 'icomoon2';
    src:    url('../fonts/icomoon2.eot');
    src:    url('../fonts/icomoon2.eot') format('embedded-opentype'),
        url('../fonts/icomoon2.ttf') format('truetype'),
        url('../fonts/icomoon2.woff') format('woff'),
        url('../fonts/icomoon2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/fonts/icomoon.eot?vwayeg');
    src:    url('../fonts/fonts/icomoon.eot?vwayeg#iefix') format('embedded-opentype'),
        url('../fonts/fonts/icomoon.ttf?vwayeg') format('truetype'),
        url('../fonts/fonts/icomoon.woff?vwayeg') format('woff'),
        url('../fonts/fonts/icomoon.svg?vwayeg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    //font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
//## Gray and brand colors
$gray-base:   #efefef !default;
$gray-darker: #a4a4a6 !default;
$gray-dark:   #c6c6c6 !default;
$gray:        #3e3939 !default;

$brand-color: #99cc33 !default;


//## Settings for some of the most global styles.
$body-bg:               #fff !default;
$text-color:            #3e3939 !default;
$link-color:            $text-color !default;
$link-hover-color:      darken($link-color, 10%) !default;
$link-hover-decoration: underline !default;


//## Typography
$font-family-base:        'Helvetica Neue', Helvetica, Tahoma, sans-serif !default;
$font-size-base:          18px;
$line-height-base:        1.33;

$headings-font-family:    'Avantgarde Gothic', Helvetica, Tahoma, sans-serif !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            ($font-size-base * 2) !default; // ~36px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$margin-h1:               30px 0 !default;
$margin-h2:               20px 0 !default;
$margin-h3:               15px 0 !default;
$margin-h4:               10px 0 !default;
$margin-h5:               5px 0 !default;
$margin-h6:               2px 0 !default;


//## Buttons
$btn-font-family:                'Avantgarde Gothic', Helvetica, Tahoma, sans-serif !default;
$btn-font-size:                  18px !default;
$btn-lg-font-size:               24px !default;
$btn-font-weight:                400 !default;
$btn-line-height:                1.1 !default;


$btn-border-width:               1px !default;
$btn-border-radius:              7px !default;

$btn-padding-vertical:           7px !default;
$btn-lg-padding-vertical:        15px !default;

$btn-padding-horizontal:         10px !default;
$btn-lg-padding-horizontal:      20px !default;

$btn-brand-color:                #fff !default;
$btn-brand-bg:                   $brand-color !default;
$btn-brand-border:               $brand-color !default;
$btn-brand-color-hover:          #fff !default;
$btn-brand-bg-hover:             lighten($brand-color, 10%) !default;
$btn-brand-border-hover:         lighten($brand-color, 10%) !default;

$btn-clean-color:                #000 !default;
$btn-clean-bg:                   #fff !default;
$btn-clean-border:               $brand-color !default;                  
$btn-clean-color-hover:          #fff !default;    
$btn-clean-bg-hover:             $brand-color !default;
$btn-clean-border-hover:         $brand-color !default;

$btn-link-disabled-color:        #ccc !default;


// ## Forms
$input-bg:                       #fff !default;
$input-bg-disabled:              #ccc !default;
$input-color:                    #bbbaba !default;
$input-border:                   $brand-color !default;
$input-border-radius:            0 !default;
$input-border-focus:             #66afe9 !default;
$input-color-placeholder:        #ccc !default;

$input-height-base:              40px  !default;
$input-font-size:                20px !default;
$input-line-height:              1.3 !default;
$input-border-width:             1px !default;
$input-line-height-computed:     floor($input-font-size * $input-line-height) !default;

$input-padding:                  ($input-height-base - $input-line-height-computed - $input-border-width) / 2 !default;
$input-padding-vertical:         $input-padding !default;
$input-padding-horizontal:       10px !default;

$form-group-margin-bottom:       15px !default;
$cursor-disabled:                not-allowed !default;


$color: #fff;
$color-green: #98b327;

